// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
    --yellowDuoc : #fcb32e;
    --plomoDuoc : #4b4c4d;
    --plomoUsuario : #ababab;
    --plomoSumario : #c3c6c9;
    --negroDuoc : #0c0909;
    --fondo : #ffffff;
    --fondoContenedor:#e1e3e5;
    --fondoMenulateralDark:#f2a71c;
    --fondoMenuLateralLight:#ffc55a;
    --fondoHora:#fcb32e;




    --letrasTitulos:#0c0909;
    --letrasTi:#0c0909;
    --fondoGeneral:#ffffff;
    --bordeFotoMLate:#fcb32e;
    --bordeAsis:#fcb32e;
    --Duoc:#fcb32e;
}   